<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AdFusion</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../../static/template1/assets/img/favicon.png" rel="icon">
  <link href="../../static/template1/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/template1/../../static/template1/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">
  <link href="../../static/template1/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/template1/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/template1/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/template1/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/template1/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../../static/template1/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/template1/assets/img/logo.png" alt=""> -->
        <h1 class="sitename"  style="color: white">AdFusion</h1> <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="#about" >About</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#project">Projects</a></li>

          <li><a href="/login">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
  {% block content %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div class="info d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 text-center">
              <h2>Welcome to AdFusion</h2>
              <p>
                At <b>AdFusion</b>, we blend creativity with data-driven marketing to deliver impactful advertising
                solutions.
                From branding to digital campaigns, we help businesses grow and connect with the right audience.
              </p>
              <a href="/login" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item">
          <img src="../../static/images/img1.png" alt="">
        </div>

        <div class="carousel-item active">
          <img src="../../static/images/img2.png" alt="">
        </div>

        <div class="carousel-item">
          <img src="../../static/images/img3.png" alt="">
        </div>

        <div class="carousel-item">
          <img src="../../static/images/img4.png" alt="">
        </div>

        <div class="carousel-item">
          <img src="../../static/images/img5.png" alt="">
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

    </section><!-- /Hero Section -->

    <!-- Get Started Section -->
    <section id="get-started" class="get-started section">

      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="content">
              <h3 style="color: black;" id="about">About Us</h3>
              <p style="color: black;">

                Welcome to AdFusion, your go-to destination for innovative and result-driven advertising solutions.
                We are a dynamic advertising agency committed to bridging the gap between brands and their audiences
                through creative strategies, cutting-edge digital marketing, and impactful campaigns.




              </p>
              <p style="color: black;"> At AdFusion, we specialize in campaign creation, execution, and performance
                analysis, ensuring
                businesses maximize their reach and engagement. Whether it’s branding, digital
                advertising, or traditional media campaigns, we craft tailored strategies that leave a lasting
                impression.</p>
              <p style="color: black;">
                Our expert team of marketers, designers, and strategists work closely with clients to understand
                their unique goals and deliver customized solutions that drive success. With a strong focus on
                creativity, technology, and analytics, we empower brands to thrive in the competitive advertising
                landscape.

                Join us at AdFusion, where innovation meets impact, and let’s take your brand to new heights!
              </p>
            </div>
          </div>

          <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
            <form action="forms/quote.php" method="post" class="php-email-form">
              <h3 style="color: black;">Get a quote</h3>
              <p  style="color: black;">Fill out the form below to receive a custom quote for our services.</p>
              <div class="row gy-3">

                <div class="col-12">
                  <input type="text" name="name" class="form-control" placeholder="Name" required="">
                </div>

                <div class="col-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="">
                </div>

                <div class="col-12">
                  <input type="text" class="form-control" name="phone" placeholder="Phone" required="">
                </div>

                <div class="col-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                  <button type="submit" style="background-color: black;color: white;">Get a quote</button>
                </div>

              </div>
            </form>
          </div><!-- End Quote Form -->

        </div>

      </div>

    </section>

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="service" style="color: black;">Our Services</h2>
        <p style="color: black;">Helping brands grow through creativity and innovation.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <!-- Service Item 1 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-paintbrush"></i> <!-- Icon for Design -->
              </div>
              <h3 style="color: black;">Designing</h3>
              <p style="color: black;">We create stunning visual designs that elevate your brand's presence and make a lasting impression.</p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <!-- Service Item 2 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-font"></i> <!-- Icon for Branding -->
              </div>
              <h3 style="color: black;">Branding</h3>
              <p style="color: black;">Building strong brand identities that resonate with your target audience and set you apart from
                competitors.</p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <!-- Service Item 3 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-bullhorn"></i> <!-- Icon for Marketing -->
              </div>
              <h3 style="color: black;">Marketing</h3>
              <p style="color: black;">Strategic marketing services to reach your audience effectively and generate impactful results.</p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <!-- Service Item 4 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-cogs"></i> <!-- Icon for Strategy -->
              </div>
              <h3 style="color: black;">Strategy</h3>
              <p style="color: black;">We develop tailored strategies that align with your business objectives and lead you toward success.
              </p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <!-- Service Item 5 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-chart-line"></i> <!-- Icon for Analytics -->
              </div>
              <h3 style="color: black;">Analytics</h3>
              <p style="color: black;">Analyzing your data to optimize marketing efforts and improve decision-making for better performance.
              </p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <!-- Service Item 6 -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-video"></i> <!-- Icon for Video Production -->
              </div>
              <h3 style="color: black;">Video Production</h3>
              <p style="color: black;">We produce high-quality videos that communicate your brand’s message effectively and creatively.</p>
              <!-- <a href="#" class="readmore stretched-link"> <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <ul class="nav nav-tabs row g-2 d-flex" data-aos="fade-up" data-aos-delay="100" role="tablist">

          <li class="nav-item col-3" role="presentation">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1" aria-selected="true"
              role="tab">
              <h4 style="color: black;">Creative Design</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2" aria-selected="false"
              tabindex="-1" role="tab">
              <h4 style="color: black;">Brand Development</h4>
            </a><!-- End tab nav item -->
          </li>

          <li class="nav-item col-3" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3" aria-selected="false"
              tabindex="-1" role="tab">
              <h4 style="color: black;">Digital Marketing</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4" aria-selected="false"
              tabindex="-1" role="tab">
              <h4 style="color: black;">Performance Analytics</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3 style="color: black;">Creative Design</h3>
                <p class="fst-italic" style="color: black;">
                  Bringing ideas to life with visually stunning and engaging designs that captivate audiences.

                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;"> Unique and eye-catching visuals tailored to your
                      brand.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Consistent and impactful design elements that enhance
                      recognition.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Designs crafted for maximum engagement and
                      conversion.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="../../static/images/creative design.png" alt="Creative Design" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade" id="features-tab-2" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3 style="color: black;">Brand Development</h3>
                <p class="fst-italic" style="color: black;">
                  Building strong, memorable brands that leave a lasting impact.


                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Crafting a unique identity that sets your brand
                      apart.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Cohesive visuals and messaging across all platforms.</span>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Evolving your brand to adapt and thrive in the
                      market.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="../../static/images/brand developing.png" alt="Brand Development" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade" id="features-tab-3" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3 style="color: black;">Digital Marketing</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;"> Leverage data-driven insights to connect with your ideal
                      audience.</span>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;"> Continuously analyze and refine strategies for maximum
                      ROI.</span>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Seamlessly blend social, search, content, and display
                      marketing for a unified brand presence.</span></li>
                </ul>
                <p class="fst-italic" style="color: black;">
                  Empowering brands to thrive in the digital landscape with innovative strategies and measurable results.


                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="../../static/images/digital marketing.png" alt="Digital Marketing" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade" id="features-tab-4" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3 style="color: black;">Performance Analytics</h3>
                <p class="fst-italic" style="color: black;">
                  Unlock the power of data to drive smarter decisions and elevate your advertising strategies.

                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;"> Analyze key metrics to uncover trends, identify opportunities, and refine your campaigns.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Track performance as it happens to swiftly adjust strategies and maximize ROI.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span style="color: black;">Transform complex data into clear, strategic recommendations for continuous improvement.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img
                  src="../../static/images/performance metrics.png"
                  alt="Performance Analytics" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>

    </section><!-- /Features Section -->


    <!-- Projects Section -->
    <section id="projects" class="projects section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="project" style="color: black;">Projects</h2>
        <p style="color: black;">Our Projects – Explore our innovative advertising campaigns tailored to elevate brands and drive exceptional
          engagement.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

         

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="../../static/images/1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <a href="../../static/images/1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
               
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="../../static/images/3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
               
                  <a href="../../static/images/3.jpg" title="Product 1" data-gallery="portfolio-gallery-product"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="../../static/images/4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                  <a href="../../static/images/4.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="../../static/images/5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                  <a href="../../static/images/5.jpg" title="Branding 1" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="../../static/images/6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                  <a href="../../static/images/6.jpg" title="App 2" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                 
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="../../static/images/7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                
                  <a href="../../static/images/7.jpg" title="Product 2" data-gallery="portfolio-gallery-product"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="../../static/images/8.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  
                  <a href="../../static/images/8.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                 
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="../../static/images/9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                  <a href="../../static/images/9.jpg" title="Branding 2" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                 
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="../../static/images/ac1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
               
                  <a href="../../static/images/ac1.jpg" title="App 3" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              
                </div>
              </div>
            </div><!-- End Portfolio Item -->

           

           

            

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section>
    <!-- testimonials -->
    <!-- 
    <section id="testimonials" class="testimonials section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../../static/template1/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                    alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                      Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../../static/template1/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                    alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                      malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../../static/template1/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                    alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                      minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../../static/template1/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                    alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                      velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                      veniam.</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../../static/template1/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                    alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam
                      enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi
                      cillum quid.</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section> -->


  </main>
  {% endblock %}

  <footer id="footer" class="  " style="background-color: black;">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename" style="color: white;">AdFusion</span>
          </a>
          <div class="footer-contact pt-3">
            <p style="color: white;">Nadakkav</p>
            <p style="color: white;">Calicut,673011</p>
            <p class="mt-3"><strong style="color: white;">Phone:</strong> <span style="color: white;">+91 7034579250</span></p>
            <p><strong style="color: white;">Email:</strong> <span style="color: white;">adfusionsite@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x" style="color: white;"></i></a>&nbsp;&nbsp;&nbsp;
            <a href=""><i class="bi bi-facebook" style="color: white;"></i></a>&nbsp;&nbsp;&nbsp;
            <a href=""><i class="bi bi-instagram" style="color: white;"></i></a>&nbsp;&nbsp;&nbsp;
            <a href=""><i class="bi bi-linkedin" style="color: white;"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#service">Services</a></li> -->
            <!-- <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Our Services</h4> -->
          <ul>
            <!-- <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li> -->
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Hic solutasetp</h4>
          <ul>
            <li><a href="#">Molestiae accusamus iure</a></li>
            <li><a href="#">Excepturi dignissimos</a></li>
            <li><a href="#">Suscipit distinctio</a></li>
            <li><a href="#">Dilecta</a></li>
            <li><a href="#">Sit quas consectetur</a></li>
          </ul> -->
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <!-- <h4>Nobis illum</h4>
          <ul>
            <li><a href="#">Ipsam</a></li>
            <li><a href="#">Laudantium dolorum</a></li>
            <li><a href="#">Dinera</a></li>
            <li><a href="#">Trodelas</a></li>
            <li><a href="#">Flexo</a></li>
          </ul> -->
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p style="color: white;">© <span>Copyright</span> <strong class="px-1 sitename">AdFusion</strong> <span>All Rights Reserved</span>
      </p>
      <div class="credits" style="color: white;">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="">AdFusion</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/template1/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/template1/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/template1/assets/vendor/aos/aos.js"></script>
  <script src="../../static/template1/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/template1/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../../static/template1/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/template1/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/template1/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="../../static/template1/assets/js/main.js"></script>

</body>

</html>